@model EcommerceCoffee_BLL.DTOs.ProductDto

@{
    ViewBag.Title = "Update Product";
}


<div class="container">
    @* Update Product Form *@
    @using (Html.BeginForm("Update", "Product", FormMethod.Post, new { @class = "mt-5 form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>@Resources.Resources.UpdateProduct</h4>
            <hr />

            @* Name *@
            <div class="form-group row">
                @Html.LabelFor(model => model.Name, Resources.Resources.Name, htmlAttributes: new { @class = "control-label col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            @* Description *@
            <div class="form-group row">
                @Html.LabelFor(model => model.Description, Resources.Resources.Description, htmlAttributes: new { @class = "control-label col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 5 })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            @* Price *@
            <div class="form-group row">
                @Html.LabelFor(model => model.Price, Resources.Resources.Price, htmlAttributes: new { @class = "control-label col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number", min = 0, step = "0.01" })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            @* Brand *@
            <div class="form-group row">
                @Html.LabelFor(model => model.BrandId, Resources.Resources.Brand, htmlAttributes: new { @class = "control-label col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.DropDownList("BrandId", null, Resources.Resources.SelectBrand, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                </div>
            </div>

            @* Category *@
            <div class="form-group row">
                @Html.LabelFor(model => model.CategoryId, Resources.Resources.Category, htmlAttributes: new { @class = "control-label col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.DropDownList("CategoryId", null, Resources.Resources.SelectCategory, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            @* Image Upload *@
            <div class="form-group row">
                @Html.LabelFor(model => model.ImageFile, Resources.Resources.ProductImage, htmlAttributes: new { @class = "control-label col-md-2 col-form-label" })
                <div class="col-md-10">
                 
                    <input type="file" name="ImageFile" accept="image/*" class="form-control-file" />
                    @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                </div>
            </div>

            @* Submit Button *@
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Resources.Resources.UpdateButton" class="button" />
                </div>
            </div>
        </div>
    }

    @Html.ActionLink(Resources.Resources.BackToHome, "Index", null, new { @class = "btn btn-secondary mx-2" })
</div>